body {
    padding: 10px;
}
.top{
    display: flex;
    gap: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}
.time{
    color: gray;
}
.image{
    padding: 7px 12px 7px 12px;

}
.right-top{
    padding: 10px;
}
.category{
    display: flex;
    gap: 10px;
}
.view-time-top{
    margin-top: 65px;
}
.gap{
    display: flex;
    gap: 10px;
}
.delete-right{
    display: flex;
    align-items: center;
}
.delete-icon{
    font-size: 35px;
    border: none;
    background-color: white;
    margin-left: 750px;
    margin-bottom: 50px;
}
