{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-warning">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
    {% endif %}

    {% for act in active %}
        <div class="top">
            <div>
                <img class="image" src="{{ act.urlImage }}" style="width: auto; min-width: 220px; max-width: 220px; height: auto; max-height: 220px; max-height: 220px;">
            </div>

            <div class="right-top">
                <div><h5>{{ act.title }}</h5></div>
                <div><h5>Price: ${{ act.bid }} <h5></div>
                <div class="view-time-top">
                    <div class="gap">
                        <div><a href="{% url 'view' act.id %}" class="btn btn-secondary">views</a></div>
                        <div><a href="{% url 'comment' act.id %}" class="btn btn-secondary">Comment</a></div>
                        <div><a href="{% url 'addwatchlist' act.id %}" class="btn btn-danger" type="submit">add watchlist</a></div>
                    </div>  
                    <div class="time"> <p>Created {{ act.created_at }} </p></div>
                </div>
            </div>
        </div>
    {% endfor %}    
{% endblock %}