{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% for act in watchlist %}
    <div class="top">
        <div>
            <img src="{{ act.urlImage }}" style="width: auto; min-width: 220px; max-width: 220px; height: auto; max-height: 220px; max-height: 220px;">
        </div>

        <div class="right-top">
            <div><h5>{{ act.title }}</h5></div>
            <div><h5>Price: ${{ act.listId.bid }} <h5></div>
            <div class="delete-right">
                <div class="view-time-top"> 
                    <div class="gap">
                        <div><a href="{% url 'view' act.listId.id %}" class="btn btn-secondary">views</a></div>
                        <div><a href="{% url 'comment' act.listId.id %}" class="btn btn-secondary">Comment</a></div>
                    </div>  
                    <div class="time"> <p>Created {{ act.created_at }} </p></div>
                </div>
                <div>
                    <form action="{% url 'delete' act.id %}" method="post">
                        {% csrf_token %}
                        <button class="delete-icon" type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}