{% extends "auctions/layout.html" %}

{% block body %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
        </li>
        <li class="nav-item">
            <div class="watchlist-count">
                <div><a class="nav-link" href="{% url 'watchlist' %}">Watchlist {% if watchListCount > 0 %}<span class="watchlist-style-buttom">{{ watchListCount }}</span>{% endif %}</a></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'CreateList' %}">Create Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'winner' %}">Winner</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
</ul>

{% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
    {% endif %}

{% for act in winners %}
<div class="top">
    <div>
        <img class="image" src="{{ act.urlImage }}" style="width: auto; min-width: 220px; max-width: 220px; height: auto; max-height: 220px; max-height: 220px;">
    </div>

    <div class="right-top">
        <div><h5>{{ act.title }}</h5></div>
        <div><h5>Price: ${{ act.bid }} <h5></div>
        <div><h5>
            {% if act.winner is None %}
                No one wins This Auction
            {% else %}
                the winner is: {{ act.winner }}
            {% endif %}
            <h5></div>
        
        <div class="view-time-top">
            <div class="gap">
                <!-- <div><a href="" class="btn btn-secondary"></a></div> -->
            </div>  
            <div class="time"> <p>Created {{ act.created_at }} </p></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}